In [164]:
import pandas as pd
financial_history = pd.read_csv('financial_results_3.csv')
financial_history['revtq'] = financial_history['revtq'] * 1000000
financial_history['niq'] = financial_history['niq'] * 1000000
financial_history = financial_history[(financial_history['revtq'] >= 15000000)]
financial_history

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,cusip,...,datacqtr,datafqtr,epspxq,niq,revtq,costat,ggroup,gind,gsector,gsubind
0,1013,19950131,1995,1.0,INDL,C,D,STD,ADCT.1,000886309,...,1994Q4,1995Q1,0.38,10466000.0,121774000.0,I,4520,452010,45,45201020
1,1013,19950430,1995,2.0,INDL,C,D,STD,ADCT.1,000886309,...,1995Q1,1995Q2,0.18,10389000.0,140342000.0,I,4520,452010,45,45201020
2,1013,19950731,1995,3.0,INDL,C,D,STD,ADCT.1,000886309,...,1995Q2,1995Q3,0.26,15674000.0,150454000.0,I,4520,452010,45,45201020
3,1013,19951031,1995,4.0,INDL,C,D,STD,ADCT.1,000886309,...,1995Q3,1995Q4,0.30,18657000.0,173652000.0,I,4520,452010,45,45201020
4,1013,19960131,1996,1.0,INDL,C,D,STD,ADCT.1,000886309,...,1995Q4,1996Q1,0.26,16313000.0,162591000.0,I,4520,452010,45,45201020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194111,347085,20210228,2020,4.0,INDL,C,D,STD,KARO,Y4600W108,...,2021Q1,2020Q4,0.20,4228000.0,42641000.0,A,4510,451030,45,45103010
194112,347085,20210531,2021,1.0,INDL,C,D,STD,KARO,Y4600W108,...,2021Q2,2021Q1,0.25,6417000.0,45522000.0,A,4510,451030,45,45103010
194113,347085,20210831,2021,2.0,INDL,C,D,STD,KARO,Y4600W108,...,2021Q3,2021Q2,0.26,7888000.0,43099000.0,A,4510,451030,45,45103010
194114,347085,20211130,2021,3.0,INDL,C,D,STD,KARO,Y4600W108,...,2021Q4,2021Q3,0.25,7768000.0,36496000.0,A,4510,451030,45,45103010
194115,347085,20220228,2021,4.0,INDL,C,D,STD,KARO,Y4600W108,...,2022Q1,2021Q4,0.23,7090000.0,52870000.0,A,4510,451030,45,45103010

In [168]:
# financial_history['RevenueGrowthRate'] = financial_history['revtq'].pct_change(periods=4)
# sort values by id and quarter
# shift by negative 4
# check borders (make sure you are heetoi
import numpy as np
from scipy import stats
financial_history['RevenueGrowthRate'] = financial_history.groupby(['cusip'])['revtq'].pct_change(periods=4)
financial_history = financial_history.dropna()
financial_history = financial_history.drop(financial_history[financial_history.RevenueGrowthRate == float('inf')].index)
financial_history = financial_history.drop(financial_history[financial_history.RevenueGrowthRate == float('-inf')].index)
financial_history['NetProfitMargin'] = financial_history['niq']/financial_history['revtq']
financial_history = financial_history.drop(financial_history[financial_history.NetProfitMargin == float('inf')].index)
financial_history = financial_history.dropna()
financial_history['gp_score'] = financial_history['NetProfitMargin'] + financial_history['RevenueGrowthRate']
financial_history

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,cusip,...,niq,revtq,costat,ggroup,gind,gsector,gsubind,RevenueGrowthRate,NetProfitMargin,gp_score
8,1013,19970131,1997,1.0,INDL,C,D,STD,ADCT.1,000886309,...,10395000.0,256777000.0,I,4520,452010,45,45201020,0.579282,0.040483,0.619764
9,1013,19970430,1997,2.0,INDL,C,D,STD,ADCT.1,000886309,...,28861000.0,279199000.0,I,4520,452010,45,45201020,0.446230,0.103371,0.549601
10,1013,19970731,1997,3.0,INDL,C,D,STD,ADCT.1,000886309,...,32757000.0,293312000.0,I,4520,452010,45,45201020,0.349721,0.111680,0.461401
11,1013,19971031,1997,4.0,INDL,C,D,STD,ADCT.1,000886309,...,36824000.0,335162000.0,I,4520,452010,45,45201020,0.314093,0.109869,0.423962
12,1013,19980131,1998,1.0,INDL,C,D,STD,ADCT.1,000886309,...,25409000.0,286396000.0,I,4520,452010,45,45201020,0.115349,0.088720,0.204069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194086,339965,20220131,2021,4.0,INDL,C,D,STD,SNOW,833445109,...,-132153000.0,383774000.0,A,4510,451020,45,45102030,1.014932,-0.344351,0.670581
194087,339965,20220430,2022,1.0,INDL,C,D,STD,SNOW,833445109,...,-165794000.0,422371000.0,A,4510,451020,45,45102030,0.845108,-0.392532,0.452576
194088,339965,20220731,2022,2.0,INDL,C,D,STD,SNOW,833445109,...,-222806000.0,497248000.0,A,4510,451020,45,45102030,0.826788,-0.448078,0.378710
194114,347085,20211130,2021,3.0,INDL,C,D,STD,KARO,Y4600W108,...,7768000.0,36496000.0,A,4510,451030,45,45103010,-0.176051,0.212845,0.036794
194115,347085,20220228,2021,4.0,INDL,C,D,STD,KARO,Y4600W108,...,7090000.0,52870000.0,A,4510,451030,45,45103010,0.239886,0.134103,0.373989

In [169]:
market_cap_history = pd.read_csv('market-cap-history.csv')
market_cap_history['Year'] = market_cap_history['MthCalDt'] // 10000
market_cap_history['Month'] = market_cap_history['MthCalDt'].map(str)
market_cap_history['Month'] = market_cap_history['Month'].str[4:8]
market_cap_history['Month'] = market_cap_history['Month'].map(int)
def assign_quarter(row):
    if row['Month'] < 400:
        return 'Q1'
    elif row['Month'] < 700:
        return 'Q2'
    elif row['Month'] < 1000:
        return 'Q3'
    else:
        return 'Q4'
market_cap_history['Quarter'] = market_cap_history.apply(assign_quarter, axis=1)
market_cap_history['Year'] = market_cap_history['Year'].map(str)
market_cap_history['datafqtr'] = market_cap_history['Year'] + market_cap_history['Quarter']
market_cap_history['MthCap'] = market_cap_history['MthCap'].str.replace(',', '')
market_cap_history['MthCap'] = market_cap_history['MthCap'].map(float)
market_cap_history

,HdrCUSIP9,Ticker,ICBIndustry,MthCalDt,MthCap,Year,Month,Quarter,datafqtr
0,233269109,DPAC,NOAVAIL,19950131,32899.50,1995,131,Q1,1995Q1
1,233269109,DPAC,NOAVAIL,19950228,31994.38,1995,228,Q1,1995Q1
2,233269109,DPAC,NOAVAIL,19950331,31537.31,1995,331,Q1,1995Q1
3,233269109,DPAC,NOAVAIL,19950428,29252.00,1995,428,Q2,1995Q2
4,233269109,DPAC,NOAVAIL,19950531,29270.00,1995,531,Q2,1995Q2
...,...,...,...,...,...,...,...,...,...
375531,695255109,PACT,TECH,20131129,535518.72,2013,1129,Q4,2013Q4
375532,695255109,PACT,TECH,20131231,543886.20,2013,1231,Q4,2013Q4
375533,695255109,PACT,TECH,20140131,544646.88,2014,131,Q1,2014Q1
375534,695255109,PACT,TECH,20140228,547689.60,2014,228,Q1,2014Q1
375535,695255109,PACT,TECH,20140331,550732.32,2014,331,Q1,2014Q1

In [170]:
quarterly_avg_market_cap = market_cap_history.groupby(['HdrCUSIP9', 'datafqtr'], as_index=False)['MthCap'].mean()
quarterly_avg_market_cap.rename(columns={'HdrCUSIP9': 'cusip', 'datafqtr': 'datafqtr', 'MthCap': 'QAvgMktCap'}, inplace=True)
quarterly_avg_market_cap

            cusip datafqtr     QAvgMktCap
0       000794107   1995Q1  115785.833333
1       000794107   1995Q2  111033.916667
2       000794107   1995Q3  135890.000000
3       000794107   1995Q4  170517.520000
4       000794107   1996Q1  233866.480000
...           ...      ...            ...
126802  Y93691106   2010Q3  507375.600000
126803  Y93691106   2010Q4  620360.750000
126804  Y93691106   2011Q1  816955.746667
126805  Y93691106   2011Q2  889203.046667
126806  Y93691106   2011Q3  925950.000000

[126807 rows x 3 columns]

In [171]:
merged_data = pd.merge(financial_history, quarterly_avg_market_cap, on=['cusip', 'datafqtr'])
merged_data['QAvgMktCap'] = merged_data['QAvgMktCap'] * 1000
merged_data['PS_Ratio'] = merged_data['QAvgMktCap']/merged_data['revtq']
merged_data = merged_data.drop(merged_data[merged_data.PS_Ratio == float('inf')].index)
merged_data = merged_data.drop(merged_data[merged_data.PS_Ratio == float('-inf')].index)
merged_data

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,cusip,...,costat,ggroup,gind,gsector,gsubind,RevenueGrowthRate,NetProfitMargin,gp_score,QAvgMktCap,PS_Ratio
0,1013,19970131,1997,1.0,INDL,C,D,STD,ADCT.1,000886309,...,I,4520,452010,45,45201020,0.579282,0.040483,0.619764,3.907296e+09,15.216691
1,1013,19970430,1997,2.0,INDL,C,D,STD,ADCT.1,000886309,...,I,4520,452010,45,45201020,0.446230,0.103371,0.549601,4.116000e+09,14.742173
2,1013,19970731,1997,3.0,INDL,C,D,STD,ADCT.1,000886309,...,I,4520,452010,45,45201020,0.349721,0.111680,0.461401,4.841210e+09,16.505325
3,1013,19971031,1997,4.0,INDL,C,D,STD,ADCT.1,000886309,...,I,4520,452010,45,45201020,0.314093,0.109869,0.423962,4.987080e+09,14.879611
4,1013,19980131,1998,1.0,INDL,C,D,STD,ADCT.1,000886309,...,I,4520,452010,45,45201020,0.115349,0.088720,0.204069,3.238898e+09,11.309159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68080,339965,20211031,2021,3.0,INDL,C,D,STD,SNOW,833445109,...,A,4510,451020,45,45102030,1.095180,-0.463029,0.632151,8.660496e+10,258.954371
68081,339965,20220131,2021,4.0,INDL,C,D,STD,SNOW,833445109,...,A,4510,451020,45,45102030,1.014932,-0.344351,0.670581,1.041936e+11,271.497215
68082,339965,20220430,2022,1.0,INDL,C,D,STD,SNOW,833445109,...,A,4510,451020,45,45102030,0.845108,-0.392532,0.452576,7.868745e+10,186.299365
68083,347085,20211130,2021,3.0,INDL,C,D,STD,KARO,Y4600W108,...,A,4510,451030,45,45103010,-0.176051,0.212845,0.036794,1.020867e+09,27.972028
68084,347085,20220228,2021,4.0,INDL,C,D,STD,KARO,Y4600W108,...,A,4510,451030,45,45103010,0.239886,0.134103,0.373989,1.124347e+09,21.266250

In [158]:
credit_interest_rates = pd.read_csv('BAMLC0A4CBBBEY.csv')
credit_interest_rates['DATE'] = credit_interest_rates['DATE'].map(str)
credit_interest_rates['DATE'] = credit_interest_rates['DATE'].str.replace('-', '')
credit_interest_rates['DATE'] = credit_interest_rates['DATE'].map(int)
credit_interest_rates['YEAR'] = credit_interest_rates['DATE'] // 10000
credit_interest_rates['Month'] = credit_interest_rates['DATE'].map(str)
credit_interest_rates['Month'] = credit_interest_rates['Month'].str[4:8]
credit_interest_rates['Month'] = credit_interest_rates['Month'].map(int)
def assign_quarter(row):
    if row['Month'] < 400:
        return 'Q1'
    elif row['Month'] < 700:
        return 'Q2'
    elif row['Month'] < 1000:
        return 'Q3'
    else:
        return 'Q4'
credit_interest_rates['Quarter'] = credit_interest_rates.apply(assign_quarter, axis=1)
credit_interest_rates['YEAR'] = credit_interest_rates['YEAR'].map(str)
credit_interest_rates['datafqtr'] = credit_interest_rates['YEAR'] + credit_interest_rates['Quarter']


credit_interest_rates = credit_interest_rates.drop(credit_interest_rates[credit_interest_rates.BAMLC0A4CBBBEY == '.'].index)
credit_interest_rates['bbb_interest_rate'] = credit_interest_rates['BAMLC0A4CBBBEY'].map(float)
quarterly_interest_rates = credit_interest_rates.groupby('datafqtr')['bbb_interest_rate'].mean()
quarterly_interest_rates

datafqtr
1996Q4    7.260000
1997Q1    7.380984
1997Q2    7.513692
1997Q3    7.070462
1997Q4    6.874545
            ...
2021Q4    2.508636
2022Q1    3.352344
2022Q2    4.661846
2022Q3    5.164030
2022Q4    6.191622
Name: bbb_interest_rate, Length: 105, dtype: float64

In [172]:
full_data = pd.merge(quarterly_interest_rates, merged_data, how='outer', on='datafqtr')
full_data = full_data.dropna()
full_data

,datafqtr,bbb_interest_rate,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,...,costat,ggroup,gind,gsector,gsubind,RevenueGrowthRate,NetProfitMargin,gp_score,QAvgMktCap,PS_Ratio
0,1996Q4,7.260000,1072.0,19970331.0,1996.0,4.0,INDL,C,D,STD,...,I,4520.0,452030.0,45.0,45203015.0,0.026061,0.102069,0.128130,1.829667e+09,6.089065
1,1996Q4,7.260000,1327.0,19970331.0,1996.0,4.0,INDL,C,D,STD,...,A,4530.0,453010.0,45.0,45301020.0,-0.106983,-0.234811,-0.341794,7.466609e+07,3.280151
2,1996Q4,7.260000,1562.0,19970430.0,1996.0,4.0,INDL,C,D,STD,...,A,4510.0,451030.0,45.0,45103010.0,0.406869,0.077586,0.484455,1.042313e+08,4.157776
3,1996Q4,7.260000,1878.0,19970131.0,1996.0,4.0,INDL,C,D,STD,...,A,4510.0,451030.0,45.0,45103010.0,-0.087285,0.050750,-0.036535,1.180023e+09,9.992739
4,1996Q4,7.260000,2411.0,19970331.0,1996.0,4.0,INDL,C,D,STD,...,A,5010.0,501010.0,50.0,50101020.0,-0.018861,0.113512,0.094650,7.848167e+08,0.143687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68056,2022Q1,3.352344,298036.0,20220331.0,2022.0,1.0,INDL,C,D,STD,...,A,4510.0,451020.0,45.0,45102020.0,0.026044,-0.007429,0.018615,1.882744e+08,1.125256
68057,2022Q1,3.352344,315629.0,20220331.0,2022.0,1.0,INDL,C,D,STD,...,A,4530.0,453010.0,45.0,45301020.0,0.034518,0.182109,0.216627,1.604747e+08,0.683569
68058,2022Q1,3.352344,317637.0,20220331.0,2022.0,1.0,INDL,C,D,STD,...,A,5020.0,502010.0,50.0,50201010.0,0.138926,0.140515,0.279441,2.206991e+08,2.728925
68059,2022Q1,3.352344,325942.0,20220331.0,2022.0,1.0,INDL,C,D,STD,...,A,5010.0,501010.0,50.0,50101020.0,0.380074,-0.145005,0.235069,1.260113e+09,41.181519
68060,2022Q1,3.352344,339965.0,20220430.0,2022.0,1.0,INDL,C,D,STD,...,A,4510.0,451020.0,45.0,45102030.0,0.845108,-0.392532,0.452576,7.868745e+10,186.299365

In [173]:
ts_group = full_data[(full_data['ggroup'] == 5010)]
ts_group = ts_group[(ts_group['revtq'] >= 15000000)]

high_growth = ts_group[(ts_group['RevenueGrowthRate'] >= 0.30)]
mid_growth = ts_group[(ts_group['RevenueGrowthRate'] < 0.30) & (ts_group['RevenueGrowthRate'] >= 0.20)]
low_growth = ts_group[(ts_group['RevenueGrowthRate'] < 0.20)]

print('Telecommunication Services')
print('+ 30% Revenue Growth')
print(high_growth['PS_Ratio'].describe())
print('+ 20% Revenue Growth')
print(mid_growth['PS_Ratio'].describe())
print('+ < 20% Revenue Growth')
print(low_growth['PS_Ratio'].describe())

Telecommunication Services
+ 30% Revenue Growth
count    1111.000000
mean        6.180972
std        11.905122
min         0.001339
25%         0.534047
50%         3.030853
75%         7.648617
max       221.611773
Name: PS_Ratio, dtype: float64
+ 20% Revenue Growth
count    574.000000
mean       5.182150
std        9.398549
min        0.002735
25%        0.638411
50%        2.557709
75%        6.929012
max      138.756365
Name: PS_Ratio, dtype: float64
+ < 20% Revenue Growth
count    5046.000000
mean        4.167931
std         7.427093
min         0.001662
25%         0.607001
50%         2.273066
75%         5.709976
max       243.093799
Name: PS_Ratio, dtype: float64

In [179]:
ss_group = full_data[(full_data['ggroup'] == 4510)]
high_multiple = ss_group[(ss_group['PS_Ratio'] >= 30)]
low_multiple = ss_group[(ss_group['PS_Ratio'] < 30)]
high_growth = ss_group[(ss_group['RevenueGrowthRate'] >= 0.30)]
high_ir_high_growth = high_growth[(high_growth['bbb_interest_rate'] >= 5)]
low_ir_high_growth = high_growth[(high_growth['bbb_interest_rate'] <= 5)]
print(high_multiple['gp_score'].describe())
print(low_multiple['gp_score'].describe())
# print(high_ir_high_growth['PS_Ratio'].describe())
# print(low_ir_high_growth['PS_Ratio'].describe())
# tracking_ps_ratio = high_growth.groupby(['datafqtr'])['PS_Ratio'].mean()
# tracking_ps_ratio.plot(x="datafqtr", y=["PS_Ratio"])

count    2250.000000
mean        0.301321
std         0.462811
min        -3.516268
25%         0.112477
50%         0.292287
75%         0.486491
max         5.795328
Name: gp_score, dtype: float64
count    20895.000000
mean         0.129066
std          0.438115
min         -3.942988
25%         -0.028653
50%          0.147862
75%          0.295638
max         10.382437
Name: gp_score, dtype: float64